@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@400;700;800&display=swap);
html,
body,
#root {
  width: 100%;
  margin: 0px;
}

html,
body {
  font-family: "Spartan", sans-serif;
  height: 100%;
}

.telegram {
  background: url(/assets/telegram.386ba724a6dabbbcaa93.svg) center center no-repeat;
}

.github {
  background: url(/assets/github.fdbf9d9846443d7e812b.svg) center center no-repeat;
}

.mail {
  background: url(/assets/mail.91e4691dcd334a0b7ed6.svg) center center no-repeat;
}

.linkedin {
  background: url(/assets/linkedin.47baafc08601e393eb0f.svg) center center no-repeat;
}

.phone {
  background: url(/assets/phone.93c3cf655524e6502e91.svg) center center no-repeat;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.badge {
  display: inline-block;
  width: 40px;
  height: 40px;
  content: "";
  cursor: pointer;
}

.badge.small {
    width: 18px;
    height: 18px;
    background-size: 18px;
    padding-left: 5px;
    vertical-align: text-top;
  }

