@import url(https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap);
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

#root {
  width: 794px;
  height: 1122px;
  font-size: 13px;
  overflow: hidden;
}

body #root,
.root-wrapper,
.left,
.right {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left {
  width: 5.5cm;
  background-color: #141414;
  color: #fff;
  padding-left: 20px;
}

.left-wrapper:first-child {
      padding-right: 10px;
      padding-bottom: 0px;
    }

.left-wrapper{
    padding-bottom: 10px;
}

.left-wrapper:not(:last-child) {
      border-bottom: white 1px solid;
    }

.left-wrapper H3 {
      margin: 10px 0;
    }

.left-one {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }

.left h4 {
    margin: 0;
  }

.left-foot {
    margin: 5px 0px;
    color: gray;
    font-size: 11px;
    line-height: 1.5;
  }

.left-head {
    margin: 0;
    font-size: 12px;
  }

.left-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
  }

.left-table td {
      padding: 0px;
    }

.right {
  width: 15.5cm;
  padding-left: 20px;
  padding-right: 20px;
}

.ava {
  text-align: center;
}

.ava .img-ava {
    border-radius: 50%;
    border: white 2px solid;
    width: 100px;
  }

.bage {
  color: white;
}
.text {
  padding-left: 3px;
}

.circle {
  border: black 1px solid;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 5px 0px 5px -5px;
}

.circle.fill {
  background: black;
}

.circle-row {
  height: 0px;
}

.text-row {
  height: 10px;
}

.text-row td:not(:first-child) {
    padding-left: 10px;
  }

.etable {
  padding-top: 2px;
  padding-left: 10px;
  border-spacing: 0px;
}

.etable td {
    vertical-align: top;
  }

.etable .company {
    margin: 5px 0 5px -10px;
  }

.etable .description,
  .etable h3 {
    margin: 0;
  }

.etable tr:not(:last-child) .left-td {
      border-left: black 1px solid;
    }

.etc tr:last-child .left-td {
      border-left: black 1px dashed;
    }

.yr,
.description {
  color: gray;
}

.description {
  font-size: 12px;
  font-weight: normal;
}

.bio {
  color: gray;
  margin: 0px;
  text-align: justify;
}

.interests-table td {
  padding: 0px 5px 10px 0px;
  color: gray;
  font-size: 12px;
}

.languages-table td:not(:first-child) {
      padding-left: 10px;
    }

.list-foot {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: justify;
  }

.list-period {
    font-size: 15px;
    margin: 0;
    color: gray;
  }

.list-product {
    color: gray;
    font-weight: normal;
  }

.list-role {
    font-size: 15px;
    margin: 10px 0px 0 0px;
  }

.list-role .docs {
      color: gray;
    }

.badge.small {
  width: 12px;
  height: 12px;
  background-size: 12px;
}

.left-td.padded-s {
    padding-top: 10px;
  }

.left-td.padded-m {
    padding-top: 20px;
  }

.padded {
  padding-top: 10px;
}

.role {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.role-left {
    flex-shrink: 0;
  }

.role-right {
    text-align: right;
    margin-left: auto;
    max-width: 200px;
    display: flex;
    align-items: center;
  }

.role-right .stack {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow-y: hidden;
      color: gray;
      font-size: 10px;
      margin: 0;
    }

.role-name {
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 2px 0;
  }

.link {
  display: block;
  padding-top: 3px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: gray;
  font-size: 12px;
}

.link svg {
    width: 10px;
    height: 10px;
  }

.link svg path {
      fill: gray;
    }

.header {
  height: 170px;
}

.header-padding {
    padding-top: 15px;
  }

.header-end {
    margin: 0 0 5px 0;
    margin-top: auto;
  }

.header-right {
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: column;
  }

.header-right-top {
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
      height: 100%;
    }

.header-right-top .header-start {
        display: flex;
        flex-direction: column;
      }

.header-right-top .qr {
        padding-top: 10px;
      }

.header-right-top .name {
        margin: 0px;
      }

.header-right-top .role {
        margin: 0 0 5px 0;
        font-weight: normal;
      }

.program {
  margin: 5px 0 0 0;
}

.education {
  margin: 15px 0 5px 0;
}

