.header {
  max-width: 1800px;
  width: 100%;
  left: 0;
  top: 0;
}

.home {
  @media screen and (max-width: 560px) {
    padding: 20px 0 0 40px;
  }
  padding: 2% 0 0 5%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(" ~@static/icons/home.svg") center
    center no-repeat;
}
