.break {
  height: 100%;
  width: 100%;
  background: url("https://aleksandr-yakovlev.github.io/vector/break.svg") center
    center repeat-x;
}

.footer {
  padding-top: 50px;
  height: 70px;
  width: 100%;
}
