
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="https://aleksandr-yakovlev.surge.sh/favicon.ico" type="image/x-icon">
  <% for (var chunk in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[chunk]%>">
    </link>
    <% } %>
      <title>
        Aleksandr Yakovlev
      </title>
</head>

<body>