@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700;800&display=swap");

html,
body,
#root {
  width: 100%;
  margin: 0px;
}

html,
body {
  font-family: "Spartan", sans-serif;
  height: 100%;
}

.telegram {
  background: url("https://aleksandr-yakovlev.surge.sh/icons/telegram.svg")
    center center no-repeat;
}

.github {
  background: url("https://aleksandr-yakovlev.surge.sh/icons/github.svg") center
    center no-repeat;
}

.figma {
  background: url("https://aleksandr-yakovlev.surge.sh/icons/figma.svg") center
    center no-repeat;
}

.mail {
  background: url("https://aleksandr-yakovlev.surge.sh/icons/mail.svg") center
    center no-repeat;
}

a {
  text-decoration: inherit;
  color: inherit;
}
