@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700;800&display=swap");

html,
body,
#root {
  width: 100%;
  margin: 0px;
}

html,
body {
  font-family: "Spartan", sans-serif;
  height: 100%;
}

.telegram {
  background: url(" ~@static/icons/telegram.svg") center center no-repeat;
}

.github {
  background: url(" ~@static/icons/github.svg") center center no-repeat;
}

.mail {
  background: url(" ~@static/icons/mail.svg") center center no-repeat;
}

.linkedin {
  background: url(" ~@static/icons/linkedin.svg") center center no-repeat;
}

.phone {
  background: url(" ~@static/icons/phone.svg") center center no-repeat;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.badge {
  display: inline-block;
  width: 40px;
  height: 40px;
  content: "";
  cursor: pointer;
  &.small {
    width: 18px;
    height: 18px;
    background-size: 18px;
    padding-left: 5px;
    vertical-align: text-top;
  }
}
