<div class="experience">
  <h1>Experience</h1>
  <%experience.forEach(e => { e.departments && e.departments.forEach (({department, begin, end, products}) => {%>
  <h3 class="list-head">
    <%-e.company.name%><span class="list-department"> · <%-department%></span>
  </h3>
  <p class="list-period"><%-begin%> - <%-end%></p>
  <%products && products.forEach(({role, product, tasks, stack, docs}) => {%>
  <p class="list-role">
    <%-role%><span class="list-product"
      ><%=product && " · ".concat(product)%><%if (docs) {%> · <%docs.forEach(({url,type})=>{%><a
        class="badge <%-type==='prototype' ? 'figma' : 'github'%> small"
        href="<%-url%>"
        target="_blank"
      ></a
      ><%})%>
      </span>
    </span>
    <%} %>
  </p>
  <%if (stack) {%>
  <p class="stack"><%=stack.join(" · ")%></p>
  <%} %>
  <p class="list-foot"><%=tasks.join(" · ")%></p>
  <% }) %> <% }) }) %>
</div>

tr:not(:last-child) {
    .left-td {
      border-left: black 1px solid;
    }
  }