<div class="experience">
  <h1>Experience</h1>
  <%experience.forEach(e => { e.positions && e.positions.forEach (p => {%>
  <h3 class="list-head"><%-p.begin%>-<%-p.end%></h3>
  <p class="list-foot"><%=p.role && `${p.role} in `%><%=e.company.name%></p>
  <% }); e.departments && e.departments.forEach (d => {%>
  <h3 class="list-head">
    <%-e.company.name%><span class="list-department"> · <%-d.department%></span>
  </h3>
  <p class="list-period"><%-d.begin%> - <%-d.end%></p>
  <%d.products.forEach(({role, product, tasks, stack, docs}) => {%>
  <p class="list-role">
    <%-role%><span class="list-product"
      ><%=product && " · ".concat(product)%></span
    >
    <%if (docs) {%>
    <span class="docs">
      · <%docs.forEach(({url,type})=>{%>
      <a
        class="badge <%-type==='prototype' ? 'figma' : 'github'%> small"
        href="<%-url%>"
        target="_blank"
      ></a
      ><%})%>
    </span>
    <%} %>
  </p>
  <%if (stack) {%>
  <p class="description"><%=stack.join(" · ")%></p>
  <%} %>
  <p class="list-foot"><%=tasks.join(" · ")%></p>
  <% }) %> <% }) }) %>
</div>
