<div id="root">
  <div class="root-wrapper">
    <div class="left">
      <div class="header left-wrapper">
        <div class="ava header-padding">
          <img class="img-ava" src="https://aleksandr-yakovlev.github.io/images/ava.png" />
        </div>
		<div class="left-one">
			<a href="<%-cv.about.telegram%>" target="_blank">
				  <%=icons.telegram%>
			</a>
			<a href="<%-cv.about.linkedin%>" target="_blank">
				  <%=icons.linkedin%>
			</a>
          <a href="<%-cv.about.github%>">
              <%=icons.github%>
          </a>
          <a href="mailto:<%-cv.about.email%>">
              <%=icons.mail%>
          </a>
          <a href="Tel:<%-cv.about.phone%>">
              <%=icons.phone%>
          </a>
        </div>
      </div>
      <div class="left-wrapper">
        <h3>Skills</h3>
        <%Object.keys(cv.skills).forEach(skill=> { %>
          <p class="left-head"><%-skill%></p>
          <p class="left-foot"><span>
              <%=cv.skills[skill].join(" </span><span>·&nbsp;")%></p>
          <% }) %>
      </div>
      <div class="left-wrapper">
          <h3>Languages</h3>
          <table class="left-table languages-table">
            <%for (i=0; i<cv.languages.length;i+=2) { %>
              <tr>
                <td>
                  <p class="left-head"><%-cv.languages[i].language%></p>
                  <p class="left-foot"><%-cv.languages[i].rank%></p>
                </td>
                <td>
                  <p class="left-head"><%-cv.languages[i+1].language%></p>
                  <p class="left-foot"><%-cv.languages[i+1].rank%></p>
                </td>
              </tr>
              <% } %>
          </table>
      </div>
      <div class="left-wrapper">
          <h3>Interests</h3>
          <table class="left-table interests-table">
            <%for (i=0; i<cv.interests.length;i+=2) { %>
              <tr>
                <td><%=cv.interests[i]%></td>
                <td><%=cv.interests[i+1]%></td>
              </tr>
              <% } %>
          </table>
      </div>
    </div>
    <div class="right">
      <div class="header header-right">
        <div class="header-right-top">
        <div class="header-padding header-start">
          <h2 class="name"><%-cv.about.name.toUpperCase()%></h2>
          <h3 class="role"><%-cv.about.role.join(', ')%></h2>
          <p class="bio"><%-cv.about.bio%> <%-cv.about.relocation%></p>
        <%
          const expLen = cv.experience.length-1
          const posLen = cv.experience[expLen].roles.length-1
        %>
        <h3 class="header-end">Experience <span class="description"> · <%-(Number.isInteger(Number(cv.experience[0].roles[0].end)) ? cv.experience[0].roles[0].end : new Date().getFullYear())-cv.experience[expLen].roles[posLen].begin%> yr</span></h3>
        </div>
        <div class="qr">
          <%=icons.qrcode%>
        </div>
        </div>
    </div>
        <table class="etable">
          <%cv.experience.forEach(({company, roles}, companyIndex) => {
            const len = roles?.length - 1
            const isLastCompany = companyIndex === cv.experience.length - 1
          %>
            <%if (roles?.length > 0 ) {%>
              <tr class="text-row">
                <td colspan="2">
                  <h3 class="company">
                    <%=company.site && `<a href="${company.site}">`%>
                      <span><%=company.name%></span><span class="description"> · <%-(Number.isInteger(Number(roles[0].end)) ? roles[0].end : new Date().getFullYear())-roles[len].begin%> yr</span>
                    <%=company.site && "</a>"%>
                  </h3>
                </td>
              </tr>
              <tr class="line-row">
                <td class="left-td"></td>
              </tr>
              <%roles?.forEach(({role, begin, end, tasks, stack}, i) => { 
                const isLastRole = i === roles.length - 1
                const shouldShowLine = !isLastRole || !isLastCompany
                const needsPadding = i !== 0
                const manyRoles = roles.length > 1
              %>
                <tr class="text-row"> 
                  <td <%if (needsPadding) {%>class="left-td padded-m"<% } else {%>class="left-td"<% } %>></td>
                  <td rowspan="<%=shouldShowLine ? '3' : '2'%>" <%if (needsPadding) {%>class="padded"<% } %>>
                   <div class="role">
                    <div class="role-left">
                      <p class="role-name"><%-role%></p>
                      <p class="description"><%=begin%> - <%=end%><%if (manyRoles) {%> · <%-(Number.isInteger(Number(end)) ? end : new Date().getFullYear())-begin%> yr<%} %></p>
                    </div>
                    <%if (stack && stack.length > 0) {%>
                      <div class="role-right">
                      <p class="stack"><%=stack.join(" · ")%></p>
                     </div>
                    <%} %>
                  </div> 
                  </td>
                </tr>
                <tr class="circle-row">
                  <td>
                    <div class="circle"></div>
                  </td>
                </tr>
                <%if (shouldShowLine) {%>
                <tr class="line-row">
                  <td class="left-td"></td>
                </tr>
                <%} %>
                <%if ((stack && stack.length > 0) || (tasks && tasks.length > 0)) {%>
                  <tr class="text-row"> 
                    <td class="left-td padded-s"></td>
                    <td>
                      <%if (tasks && tasks.length > 0) {%>
                      <p class="list-foot"><%=tasks.join(" · ")%></p>
                      <%} %>
                    </td>
                  </tr>
                <%} %>
              <% }) %> 
            <% } %>
          <% }) %>
        </table>  
         <h3 class="education">Education</h3>
         <table class="etable">
            <%cv.education.forEach(({institution, programmes}) => { %>
              <tr class="text-row">
                <td colspan="2">
                  <h4 class="company">
                    <a href="<%-institution.site%>">
                 <span><%=institution.name%></span>
                </a>
                  </h4>
                </td>
              </tr>
              <tr class="line-row">
                <td class="left-td"></td>
              </tr>
                <%programmes.forEach(({major, end, level},i) => { %>
                  <tr class="text-row"> 
                    <td  class="left-td <%if (i!==0) {%> padded-m<% } %>"></td>
                    <td rowspan="3"  <%if (i!==0) {%>class="padded"<% } %>>
                      <p class="program">
                        <span><%-major%></span>
                        <span class="description"><%=` · ${end}`%></span>
                      </p>
                      <p class="description"><%-level%></p>
                    </td>
                  </tr>
                  <tr class="circle-row">
                    <td>
                      <div class="circle"></div>
                  </td>
                </tr>
                  <tr class="line-row">
                    <td class="left-td"></td>
                  </tr>
              <% }) %>   
            <% }) %>
          </table>   
    </div>
  </div>
</div>