#root {
  min-height: 100%;
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.root-wrapper {
  width: 1240px;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  & > div {
    padding-top: 15px;
  }
}

.left {
  width: 300px;
  background-color: #141414;
  color: #fff;
  padding-left: 20px;
  &-wrapper {
    padding: 20px;
    &:not(:last-child) {
      border-bottom: white 1px solid;
    }
  }
  &-one {
    display: flex;
    flex-direction: column;
    a,
    > div {
      margin-bottom: 4px;
    }
  }
  h4 {
    margin: 0;
  }
  .list-foot {
    margin-top: 3px;
  }
}

.right {
  width: 800px;
  padding: 40px;
}

.ava {
  text-align: center;
  .img-ava {
    border-radius: 50%;
    border: white 2px solid;
    width: 100px;
  }
}

.bage {
  color: white;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.text {
  padding-left: 3px;
}

.name {
  margin-bottom: 5px;
}

.role {
  margin-top: 0;
  font-weight: normal;
}

.title {
  border-bottom: black 1px solid;
  padding: 15px 0px 10px 10px;
}

.circle {
  border: black 1px solid;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -5px;
}

.circle-row {
  height: 0px;
}

.text-row {
  height: 10px;
  td:not(:first-child) {
    padding-left: 10px;
  }
}

.etable {
  padding-left: 20px;
  border-spacing: 0px;
  td {
    vertical-align: top;
  }
  p,
  h3 {
    margin: 0 0 3px 0;
  }
  tr:not(:last-child) {
    .left-td {
      border-left: black 1px solid;
    }
  }
}

.etc {
  tr:last-child {
    .left-td {
      border-left: black 1px dashed;
    }
  }
}

.yr,
.description {
  color: gray;
}

.description {
  font-size: 12px;
  font-weight: normal;
}

.company {
  padding-left: 10px;
}

.bio {
  width: 658px;
  color: gray;
}

.interests-table td {
  padding: 0px 10px 10px 0px;
}

.languages-table td {
  max-width: 130px;
  vertical-align: top;
  p {
    margin: 0px 0px 5px 0px;
  }
}
