@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

#root {
  width: 794px;
  height: 1122px;
  font-size: 13px;
  overflow: hidden;
}

body #root,
.root-wrapper,
.left,
.right {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  & > div {
    padding-top: 15px;
  }
}

.left {
  width: 5.5cm;
  background-color: #141414;
  color: #fff;
  padding-left: 20px;
  &-wrapper {
    padding: 0px 10px 10px 10px;
    &:not(:last-child) {
      border-bottom: white 1px solid;
    }
  }
  &-one {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }
  h4 {
    margin: 0;
  }
  &-foot {
    margin: 5px 0px;
    color: gray;
    font-size: 11px;
    line-height: 1.5;
  }
  &-head {
    margin: 0;
    font-size: 12px;
  }
}

.right {
  width: 15.5cm;
  padding: 40px;
}

.ava {
  text-align: center;
  .img-ava {
    border-radius: 50%;
    border: white 2px solid;
    width: 100px;
  }
}

.bage {
  color: white;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

.text {
  padding-left: 3px;
}

.name {
  margin-bottom: 5px;
}

.role {
  margin-top: 0;
  font-weight: normal;
}

.title {
  margin-bottom: 0;
  border-bottom: black 1px solid;
  padding: 15px 0px 10px 10px;

  &.experience {
    margin-top: 0px;
    padding: 0px 0px 10px 10px;
  }
}

.circle {
  border: black 1px solid;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 5px 0px 5px -5px;
}

.circle.fill {
  background: black;
}

.circle-row {
  height: 0px;
}

.text-row {
  height: 10px;
  td:not(:first-child) {
    padding-left: 10px;
  }
}

.etable {
  max-width: 700px;
  padding-left: 20px;
  border-spacing: 0px;
  td {
    vertical-align: top;
  }

  .company {
    margin: 0 0 0 -10px;
    padding: 15px 0 10px 0;
  }

  .description,
  h3 {
    margin: 0;
  }
  tr:not(:last-child) {
    .left-td {
      border-left: black 1px solid;
    }
  }
}

.etc {
  tr:last-child {
    .left-td {
      border-left: black 1px dashed;
    }
  }
}

.yr,
.description {
  color: gray;
}

.description {
  font-size: 12px;
  font-weight: normal;
}

.bio {
  color: gray;
  margin-bottom: 0px;
}

.interests-table td {
  padding: 0px 10px 10px 0px;
  color: gray;
  font-size: 12px;
}

.languages-table td {
  max-width: 130px;
  vertical-align: top;
  p {
    margin: 0px 0px 5px 0px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.stack {
  padding-top: 3px;
  color: gray;
  font-size: 12px;
  margin: 0;
}

.list {
  &-foot {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: justify;
  }
  &-period {
    font-size: 15px;
    margin: 0;
    color: gray;
  }

  &-product {
    color: gray;
    font-weight: normal;
  }
  &-role {
    font-size: 15px;
    margin: 10px 0px 0 0px;
    .docs {
      color: gray;
    }
  }
}

.badge.small {
  width: 12px;
  height: 12px;
  background-size: 12px;
}

.left-td.padded {
  &-s {
    padding-top: 20px;
  }
  &-m {
    padding-top: 30px;
  }
}

.padded {
  padding-top: 20px;
}

.role {
  font-size: 14px;
  margin: 0 0 2px 0;
}

.link {
  display: block;
  padding-top: 3px;
  text-decoration-line: underline;
  color: gray;
  font-size: 12px;
  svg {
    width: 10px;
    height: 10px;
    path {
      fill: gray;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;

  .qr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }
}
